@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

@import url("https://fonts.googleapis.com/css?family=Poppins:400,700,600");


.screen textarea:focus,
.screen input:focus {
  outline: none;
}

.screen * {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

.screen div {
  -webkit-text-size-adjust: none;
}

.screen a {
  display: contents;
  text-decoration: none;
}

.text-middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.text-bottom {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

input:focus {
  outline: none;
}

.smart-layers-pointers,
.smart-layers-pointers * {
  pointer-events: auto;
  /* visibility: visible; */
}

* {
  box-sizing: border-box;
}
:root { 
  --apache: #dfbf6f;
  --black: #000000;
  --blue: #3366ff;
  --cerulean-blue: #2a4fc1;
  --golden-sand: #f8d57e;
  --heavy-metal: #2d2d2d;
  --white: #ffffff;
 
  --font-size-l: 20px;
  --font-size-m: 18px;
  --font-size-s: 6px;
  --font-size-xl: 50px;
  --font-size-xxl: 80px;
 
  --font-family-poppins: "Poppins", Helvetica;
}
.headline-80px {
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0px;
}

.body-text-18px {
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0px;
}

.secondary-titles-50px {
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0px;
}

.secondary-body-text-title-18px {
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0px;
}

.bold-white-6px {
  color: var(--white);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 600;
}

.bold-heavy-metal-20px {
  color: var(--heavy-metal);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 700;
}

/* screen - home */

.home {
  background-color: var(--white);
  height: 100vh;
  margin: 0px;
  min-height: 3411px;
  min-width: 1280px;
  mix-blend-mode: normal;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}

.home .top-bar {
  background-color: transparent;
  height: 100px;
  left: 0px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 0px;
  width: 100%;
}

.home .top-bar .logo{
  align-items: center;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  gap: 10px;
  height: auto;
  left: 100px;
  pointer-events: auto;
  position: absolute;
  top: calc(50.00% - 18px);
  transition: all 0.2s ease;
  width: auto;
}

.home .top-bar .logo:hover {
  transform: scale(1.1);
}

.home .top-bar .logoContainer {
  background-color: transparent;
  height: 35px;
  min-width: 35px;
  position: relative;
}

.home .top-bar .logo-illustration {
  background-color: transparent;
  height: 18px;
  left: 1px;
  position: relative;
  top: 9px;
  width: 34px;
}

.home .bowl {
  background-color: transparent;
  height: 18px;
  left: 1px;
  mix-blend-mode: normal;
  position: absolute;
  top: 1px;
  width: 32px;
}

.home .bowlTop {
  background-color: transparent;
  height: 3px;
  left: 6px;
  mix-blend-mode: normal;
  position: absolute;
  top: 1px;
  width: 20px;
}

.home .x12kg {
  background-color: transparent;
  height: 6px;
  left: 9px;
  letter-spacing: 0.00px;
  line-height: 6px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 7px;
  white-space: nowrap;
  width: 14px;
}

.home .petworld {
  background-color: transparent;
  height: 19px;
  letter-spacing: 0.00px;
  line-height: 20px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: 109px;
}

.home .top-bar .frame {
  background-color: transparent;
  height: calc(100.00% - 46px);
  position: absolute;
  right: 100px;
  top: 23px;
  width: 251px;
}

.home .sign-up {
  background-color: transparent;
  color: var(--heavy-metal);
  cursor: pointer;
  font-style: normal;
  font-weight: 400;
  height: calc(100.00% - 21px);
  line-height: 32px;
  mix-blend-mode: normal;
  position: absolute;
  right: 183px;
  text-align: left;
  top: 10px;
  white-space: nowrap;
  width: 68px;
}

.home .top-bar .secondary {
  background-color: var(--blue);
  border-radius: 10px;
  cursor: pointer;
  height: 54px;
  mix-blend-mode: normal;
  position: absolute;
  right: 0px;
  top: calc(50.00% - 27px);
  width: 153px;
}

.home .hover {
  background-color: var(--cerulean-blue);
  border-radius: 10px;
  cursor: pointer;
  height: 54px;
  left: 0px;
  mix-blend-mode: normal;
  pointer-events: auto;
  position: absolute;
  top: 0px;
  transition: all 0.2s ease;
  width: 153px;
}

.home .hover:hover {
  opacity: 1;
}

.home .get-started {
  background-color: transparent;
  color: var(--white);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: calc(50.00% - 26px);
  line-height: 32px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: calc(50.00% - 16px);
  white-space: nowrap;
  width: 53px;
}

.home .header {
  background-color: #f7f5fd;
  height: 600px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 100px;
  width: 100%;
}

.home .headerContainer {
  background-color: transparent;
  height: 460px;
  left: calc(50.00% - 540px);
  position: relative;
  top: calc(50.00% - 230px);
  width: 1080px;
}

.home .headerText {
  background-color: transparent;
  height: 401px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 466px;
}

.home .frameContainer {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 41px;
  height: auto;
  left: 0px;
  position: relative;
  top: 0px;
  width: auto;
}

.home .headerText .frame {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: auto;
  position: relative;
  width: auto;
}

.home .headerText .title {
  background-color: transparent;
  color: var(--heavy-metal);
  display: block;
  font-style: normal;
  font-weight: 600;
  height: 176px;
  line-height: 90px;
  margin-top: -1px;
  mix-blend-mode: normal;
  opacity: 0;
  position: relative;
  text-align: left;
  transform: translate(0, 25px);
  width: 423.7894592285156px;
}

.home .headerText .title.bp2-animate-enter {
  animation: bp2-animate-enter-frames 1.00s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
  transform: translate(0, 25px);
}

@keyframes bp2-animate-enter-frames {
  from{opacity: 0;
transform: translate(0, 25px);
}
to{opacity: 1;
transform: translate(0,0);
}
}

.home .headerText .subtitle {
  background-color: transparent;
  color: var(--heavy-metal);
  font-style: normal;
  font-weight: 400;
  height: 90.24127197265625px;
  line-height: 32px;
  mix-blend-mode: normal;
  opacity: 0.5;
  position: relative;
  text-align: left;
  width: 466px;
}

.home .frame-get-started {
  background-color: transparent;
  cursor: pointer;
  height: 64px;
  min-width: 380px;
  position: relative;
}

.home .primary-get-started {
  background-color: var(--golden-sand);
  border-radius: 10px;
  height: 100%;
  left: 0px;
  mix-blend-mode: normal;
  position: relative;
  top: 0px;
  width: 53.42%;
}

.home .primary-get-started .hover {
  background-color: var(--apache);
  border-radius: 10px;
  cursor: pointer;
  height: 64px;
  left: 0px;
  mix-blend-mode: normal;
  pointer-events: auto;
  position: absolute;
  top: 0px;
  transition: all 0.2s ease;
  width: 203px;
}

.home .primary-get-started .hover:hover {
  opacity: 1;
}

.home .primary-get-started .get-started {
  background-color: transparent;
  color: var(--heavy-metal);
  font-style: normal;
  font-weight: 400;
  height: 32px;
  left: calc(50.00% - 52px);
  line-height: 32px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: calc(50.00% - 16px);
  white-space: nowrap;
  width: auto;
}

.home .headerContainer .image {
  background-color: transparent;
  height: 100%;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 500px;
}

.home .video {
  background-color: #f2faf8;
  height: 600px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 700px;
  width: 100%;
}

.home .videoContainer {
  background-color: transparent;
  height: 460px;
  left: calc(50.00% - 383px);
  overflow: hidden;
  position: relative;
  top: calc(50.00% - 230px);
  width: 765px;
}

.home .videoContainer video {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.home .videoContainer img {
  object-fit: cover;
}

.home .logos {
  background-color: transparent;
  height: 200px;
  left: calc(50.00% - 640px);
  mix-blend-mode: normal;
  position: absolute;
  top: 1300px;
  width: 1280px;
}

.home .features {
  background-color: var(--white);
  height: 500px;
  left: 0px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 1500px;
  width: 100%;
}

.home .features .frame {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  gap: 60px;
  height: auto;
  left: calc(50.00% - 550px);
  position: relative;
  top: calc(50.00% - 134px);
  width: auto;
}

.home .features .pet-food {
  background-color: transparent;
  height: 267.9999694824219px;
  min-width: 234px;
  position: relative;
}

.home .pet-food .subtitle {
  background-color: transparent;
  color: var(--heavy-metal);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  line-height: 32px;
  mix-blend-mode: normal;
  opacity: 0.5;
  position: absolute;
  text-align: center;
  top: 172px;
  width: 230px;
}

.home .pet-food .tile {
  background-color: transparent;
  color: var(--heavy-metal);
  font-style: normal;
  font-weight: 600;
  height: auto;
  left: 20px;
  line-height: 32px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 125px;
  white-space: nowrap;
  width: auto;
}

.home .pet-food .pet-food-icon {
  background-color: transparent;
  border-radius: 10px;
  height: 85px;
  left: 72px;
  position: absolute;
  top: 0px;
  width: 85px;
}

.home .pet-food .illustration {
  background-color: transparent;
  height: 54.59%;
  left: 5.88%;
  mix-blend-mode: normal;
  position: absolute;
  top: 20.99%;
  width: 84.95%;
}

.home .toys-accessories {
  background-color: transparent;
  height: 268px;
  min-width: 234px;
  position: relative;
}

.home .toys-accessories .subtitle {
  background-color: transparent;
  color: var(--heavy-metal);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  line-height: 32px;
  mix-blend-mode: normal;
  opacity: 0.5;
  position: absolute;
  text-align: center;
  top: 172px;
  width: 230px;
}

.home .toys-accessories .title {
  background-color: transparent;
  color: var(--heavy-metal);
  font-style: normal;
  font-weight: 600;
  height: auto;
  left: 29px;
  line-height: 32px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 125px;
  white-space: nowrap;
  width: auto;
}

.home .toys-accessories .accessories-icon {
  background-color: transparent;
  height: 85px;
  left: 72px;
  position: absolute;
  top: 0px;
  width: 85px;
}

.home .toys-accessories .illustration {
  background-color: transparent;
  height: 89.54%;
  left: 1.18%;
  position: absolute;
  top: 4.71%;
  width: 98.70%;
}

.home .pets-medical-care {
  background-color: transparent;
  height: 268px;
  min-width: 234px;
  position: relative;
}

.home .pets-medical-care .subtitle {
  background-color: transparent;
  color: var(--heavy-metal);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  line-height: 32px;
  mix-blend-mode: normal;
  opacity: 0.5;
  position: absolute;
  text-align: center;
  top: 172px;
  width: 230px;
}

.home .pets-medical-care .title {
  background-color: transparent;
  color: var(--heavy-metal);
  font-style: normal;
  font-weight: 600;
  height: auto;
  left: 32px;
  line-height: 32px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 125px;
  white-space: nowrap;
  width: auto;
}

.home .pets-medical-care .medical-icon {
  background-color: transparent;
  height: 85px;
  left: 72px;
  position: absolute;
  top: 0px;
  width: 85px;
}

.home .pets-medical-care .illustration {
  background-color: transparent;
  height: 82.35%;
  left: 8.24%;
  position: absolute;
  top: 9.41%;
  width: 82.35%;
}

.home .full-service-grooming {
  background-color: transparent;
  height: 268px;
  margin-right: -4px;
  min-width: 234px;
  position: relative;
}

.home .full-service-grooming .subtitle {
  background-color: transparent;
  color: var(--heavy-metal);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  line-height: 32px;
  mix-blend-mode: normal;
  opacity: 0.5;
  position: absolute;
  text-align: center;
  top: 172px;
  width: 230px;
}

.home .full-service-grooming .title {
  background-color: transparent;
  color: var(--heavy-metal);
  font-style: normal;
  font-weight: 600;
  height: auto;
  left: 16px;
  line-height: 32px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 125px;
  white-space: nowrap;
  width: auto;
}

.home .full-service-grooming .grooming-icon {
  background-color: transparent;
  height: 85px;
  left: 72px;
  position: absolute;
  top: 0px;
  width: 85px;
}

.home .full-service-grooming .illustration {
  background-color: transparent;
  height: 71.67%;
  left: 7.06%;
  position: absolute;
  top: 14.12%;
  width: 86.71%;
}

.home .user-feedback {
  background-color: #ece7fb;
  height: 500px;
  left: 0px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 2000px;
  width: 100%;
}

.home .user-feedback .frameContainer {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 101px;
  height: auto;
  justify-content: center;
  left: calc(50.00% - 416px);
  position: relative;
  top: calc(50.00% - 200px);
  width: auto;
}

.home .user-feedback .frame {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 60px;
  height: auto;
  justify-content: center;
  position: relative;
  width: auto;
}

.home .user-feedback .imageContainer {
  background-color: transparent;
  height: 400.0000305175781px;
  min-width: 353.0000305175781px;
  position: relative;
}

.home .user-feedback .image {
  background-color: transparent;
  height: 100.00%;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 100.00%;
}

.home .user-feedback .ellipse {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.30000001192092896) 0%, rgba(255, 255, 255, 0) 100%);
  background-color: transparent;
  border: 2px solid #bcbcbc;
  border-radius: 176.5px/200px;
  height: 100.00%;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  transform: rotate(-180deg);
  width: 100.00%;
}

.home .user-feedback .quote {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 40px;
  height: auto;
  margin-right: -3.0517578125e-05px;
  position: relative;
  width: auto;
}

.home .user-feedback .quote .frame {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: auto;
  position: relative;
  width: auto;
}

.home .user-feedback .quote .quote-icon {
  background-color: transparent;
  height: 45.53204345703125px;
  margin-left: -1.9073486328125e-06px;
  min-width: 61.842041015625px;
  position: relative;
}

.home .we-love-using-petwor {
  background-color: transparent;
  color: var(--heavy-metal);
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: 418px;
}

.home .dylan-shaw {
  background-color: transparent;
  color: var(--heavy-metal);
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  min-width: 105px;
  mix-blend-mode: normal;
  opacity: 0.5;
  position: relative;
  text-align: left;
  white-space: nowrap;
}

.home .cta {
  background-color: #fcfaf5;
  height: 498px;
  left: 0px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 2500px;
  width: 100%;
}

.home .cta .frame {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 100px;
  height: auto;
  left: calc(50.00% - 480px);
  position: relative;
  top: calc(50.00% - 189px);
  width: auto;
}

.home .ctaContainer {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 40px;
  height: auto;
  position: relative;
  width: auto;
}

.home .ctaContainer .frameText {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: auto;
  position: relative;
  width: auto;
}

.home .ctaContainer .title {
  background-color: transparent;
  color: var(--heavy-metal);
  font-style: normal;
  font-weight: 600;
  line-height: 90px;
  margin-top: -1px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  width: 385px;
}

.home .ctaContainer .subtitle {
  background-color: transparent;
  color: var(--heavy-metal);
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  mix-blend-mode: normal;
  opacity: 0.4;
  position: relative;
  text-align: left;
  width: 385px;
}

.home .ctaContainer .primary-cta-contact-us {
  background-color: var(--golden-sand);
  border-radius: 10px;
  cursor: pointer;
  height: 64px;
  min-width: 203px;
  mix-blend-mode: normal;
  position: relative;
}

.home .ctaContainer .hover {
  background-color: var(--apache);
  border-radius: 10px;
  cursor: pointer;
  height: 64px;
  left: 0px;
  mix-blend-mode: normal;
  pointer-events: auto;
  position: absolute;
  top: 0px;
  transition: all 0.2s ease;
  width: 203px;
}

.home .ctaContainer .hover:hover {
  opacity: 1;
}

.home .ctaContainer .contact-us {
  background-color: transparent;
  color: var(--heavy-metal);
  font-style: normal;
  font-weight: 400;
  height: 32px;
  left: calc(50.00% - 49px);
  line-height: 32px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: calc(50.00% - 16px);
  white-space: nowrap;
  width: auto;
}

.home .iframe {
  background-color: transparent;
  height: 360px;
  min-width: 475px;
  mix-blend-mode: normal;
  position: relative;
}

.home .footer {
  background-color: var(--white);
  height: 413px;
  left: 0px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 2998px;
  width: 100%;
}

.home .group {
  background-color: transparent;
  height: 273px;
  left: calc(50.00% - 560px);
  position: relative;
  top: calc(50.00% - 136px);
  width: 1119px;
}

.home .logo {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 10px;
  height: auto;
  left: calc(50.00% - 560px);
  position: absolute;
  top: calc(50.00% - 136px);
  width: auto;
}

.home .logoContainer {
  background-color: transparent;
  height: 35px;
  min-width: 35px;
  position: relative;
}

.home .footer .logoContainer .logo-illustration {
  background-color: transparent;
  height: 18px;
  left: 1px;
  position: relative;
  top: 9px;
  width: 34px;
}

.home .footer .logoContainer .logo-illustration .dogBowl {
  background-color: transparent;
  height: 18px;
  left: 1px;
  mix-blend-mode: normal;
  position: absolute;
  top: 1px;
  width: 32px;
}

.home .footer .logoContainer .logo-illustration .dogBowlTop {
  background-color: transparent;
  height: 3px;
  left: 6px;
  mix-blend-mode: normal;
  position: absolute;
  top: 1px;
  width: 20px;
}

.home .footer .logoContainer .logo-illustration .x12kg {
  background-color: transparent;
  height: 6px;
  left: 9px;
  letter-spacing: 0.00px;
  line-height: 6px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 7px;
  white-space: nowrap;
  width: 14px;
}

.home .footer .petworld {
  background-color: transparent;
  height: 19px;
  letter-spacing: 0.00px;
  line-height: 20px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: 109px;
}

.home .footer .frameLeft {
  background-color: transparent;
  height: 163px;
  left: calc(50.00% - 560px);
  position: absolute;
  top: calc(50.00% - 26px);
  width: 469px;
}

.home .frameAddress {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 12px;
  height: auto;
  left: 0px;
  position: absolute;
  top: 0px;
  width: auto;
}

.home .updates-right-to-your-inbox {
  background-color: transparent;
  color: var(--heavy-metal);
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  margin-top: -1px;
  min-width: 242px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
}

.home .text-input-container {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  gap: 20px;
  height: auto;
  position: relative;
  width: auto;
}

.home .text-input-container .text-input {
  background-color: transparent;
  border: 1px solid #d0d0d0;
  border-radius: 10px;
  height: 54px;
  min-width: 320px;
  overflow: hidden;
  position: relative;
}

.home .text-input-container .input-text {
  background-color: transparent;
  border: 0;
  color: var(--heavy-metal);
  font-style: normal;
  font-weight: 400;
  height: calc(100.00% - 22px);
  left: 20px;
  line-height: 32px;
  mix-blend-mode: normal;
  padding: 0;
  position: relative;
  resize: none;
  text-align: left;
  top: 11px;
  white-space: nowrap;
  width: calc(100.00% - 172px);
}

.home .input-text::placeholder {
  color: #2d2d2d99;
}

.home .secondary-cta-send {
  background-color: var(--blue);
  border-radius: 10px;
  height: 54px;
  min-width: 116px;
  mix-blend-mode: normal;
  position: relative;
}

.home .secondary-cta-send .hover {
  background-color: var(--cerulean-blue);
  border-radius: 10px;
  cursor: pointer;
  height: 54px;
  left: 0px;
  mix-blend-mode: normal;
  pointer-events: auto;
  position: absolute;
  top: 0px;
  transition: all 0.2s ease;
  width: 116px;
}

.home .secondary-cta-send .hover:hover {
  opacity: 1;
}

.home .secondary-cta-send .get-started {
  background-color: transparent;
  color: var(--white);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: calc(50.00% - 26px);
  line-height: 32px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: calc(50.00% - 16px);
  white-space: nowrap;
  width: 53px;
}

.home .frameCopyRight {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  gap: 30px;
  height: auto;
  left: 0px;
  position: absolute;
  top: 131px;
  width: auto;
}

.home .frameCopyRight .petworld-2022 {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 5px;
  height: auto;
  position: relative;
  width: auto;
}

.home .frameCopyRight .text_label {
  background-color: transparent;
  color: var(--heavy-metal);
  font-style: normal;
  font-weight: 600;
  line-height: 18px;
  min-width: 15px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
}

.home .frameCopyRight .subtitle {
  background-color: transparent;
  color: var(--heavy-metal);
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  margin-top: -1px;
  min-width: 142px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
}

.home .frameCopyRight .privacy-policy {
  background-color: transparent;
  color: var(--heavy-metal);
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  margin-top: -1px;
  min-width: 128px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
}

.home .frameCopyRight .terms-of-use {
  background-color: transparent;
  color: var(--heavy-metal);
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  margin-top: -1px;
  min-width: 116px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
}

.home .frameRight {
  background-color: transparent;
  height: 273px;
  left: calc(50.00% + 142px);
  position: absolute;
  top: calc(50.00% - 136px);
  width: 417px;
}

.home .frameLinks {
  background-color: transparent;
  height: 144px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 417px;
}

.home .frame1 {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: auto;
  left: 0px;
  position: absolute;
  top: 0px;
  width: auto;
}

.home .frame1 .our-story {
  background-color: transparent;
  color: var(--heavy-metal);
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  margin-top: -1px;
  min-width: 85px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
}

.home .frame1 .faq {
  background-color: transparent;
  color: var(--heavy-metal);
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  min-width: 36px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
}

.home .frame1 .contact {
  background-color: transparent;
  color: var(--heavy-metal);
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  min-width: 74px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
}

.home .frame2 {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: auto;
  left: 145px;
  position: absolute;
  top: 0px;
  width: auto;
}

.home .frame2 .pet-care {
  background-color: transparent;
  color: var(--heavy-metal);
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  margin-top: -1px;
  min-width: 75px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
}

.home .frame2 .treatments {
  background-color: transparent;
  color: var(--heavy-metal);
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  min-width: 104px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
}

.home .frame2 .health {
  background-color: transparent;
  color: var(--heavy-metal);
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  min-width: 59px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
}

.home .frame2 .hygiene {
  background-color: transparent;
  color: var(--heavy-metal);
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  min-width: 73px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
}

.home .frame3 {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: auto;
  left: 309px;
  position: absolute;
  top: 0px;
  width: auto;
}

.home .frame3 .shop {
  background-color: transparent;
  color: var(--heavy-metal);
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  margin-top: -1px;
  min-width: 47px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
}

.home .frame3 .pet-food {
  background-color: transparent;
  color: var(--heavy-metal);
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  min-width: 78px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
}

.home .frame3 .toys {
  background-color: transparent;
  color: var(--heavy-metal);
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  min-width: 41px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
}

.home .frame3 .accessories {
  background-color: transparent;
  color: var(--heavy-metal);
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  min-width: 108px;
  mix-blend-mode: normal;
  position: relative;
  text-align: left;
  white-space: nowrap;
}

.home .socials-icons {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  gap: 20px;
  height: auto;
  left: 237px;
  position: absolute;
  top: 243px;
  width: auto;
}

.home .facebook {
  background-color: transparent;
  height: 30px;
  min-width: 30px;
  position: relative;
}

.home .icon-linkedin {
  background-color: transparent;
  height: 30px;
  min-width: 30px;
  position: relative;
}

.home .instagram {
  background-color: transparent;
  height: 30px;
  min-width: 30px;
  position: relative;
}

.home .instagram .rectangle {
  background-color: var(--heavy-metal);
  border-radius: 15px;
  height: 100%;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 100%;
}

.home .instagram .icon-instagram {
  background-color: transparent;
  height: 53.33%;
  left: 23.33%;
  mix-blend-mode: normal;
  position: absolute;
  top: 23.33%;
  width: 53.33%;
}

.home .twitter {
  background-color: transparent;
  height: 30px;
  min-width: 30px;
  position: relative;
}
